<li [ngClass]="{'list-group-item':true,
            'blogpost':true,
            'list-group-item-success':loveIts>0,
            'list-group-item-danger':loveIts<0}">
  <h2>{{title}}</h2>
  <h5 style='white-space : pre;' >{{content}}</h5>
  <h6 style='position:absolute;right:7px;top:7px;'>{{created_at | date}}</h6>
  <div>
    <button class='btn btn-danger' (click)='love(-1)'>Love It !</button>
    {{loveIts}}
    <button class='btn btn-success' (click)='love(+1)'>Don't love It !</button>
  </div>
</li>
