<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
      <h2> Nouveau Post ! </h2>
      <form [formGroup]='postForm' (ngSubmit)='onSavePost()'>
        <div class="form-group">
          <label for="title">Titre</label>
          <input type="text"
          name="title"
          id='title'
          class='form-control'
          formControlName='title'
          placeholder="Titre" >
        </div>
        <div class="form-group">
          <label for="content" class='form-group'>Corps</label>
          <textarea name="content"
                    class='form-control'
                    placeholder='Share your thoughts'
                    id='content'
                    formControlName='content'>
          </textarea>
        </div>
        <button type="submit" class='btn btn-success' [disabled]='postForm.invalid'>Publier</button>
      </form>
  </div>
</div>
